<nav class="navbar-wrapper" role="navigation">
  <div class="container" style = "display:flex; flex-direction:row; justify-content: space-between;">
    <div class ="logo">Book_Shelf</div>
    <div class="long" style = "width:500px">
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Search <span class ="glyphicon glyphicon-search"></span></a></li>
          <li><a [routerLink] =  '["/login"]'>Log in</a></li>
          <li><a [routerLink] =  '["/signin"]'>Signin</a></li>
          <li><a [routerLink] = '["/forms"]'>Add book</a></li>
      </ul>
    </div>
  
  <!-- /.container --> 
        <button type="button"   class="pull-right short menu_toggle" (click)="toggleFunc()">
          <!--<span class="sr-only">Toggle navigation</span>-->
        
        </button>
       </div>
</nav>
<div [ngClass] = "isToggled?' isCollapsed':'pull-right isntCollapsed menu_back'"> <ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">Search  <span class ="glyphicon glyphicon-search"></span></a></li>
  <li><a [routerLink] =  '["/login"]'>Log in</a></li>
  <li><a [routerLink] =  '["/signin"]'>Signin</a></li>
  <li><a [routerLink] = '["/forms"]'>Add book</a></li>
</ul>
</div>

<!--<nav class="navbar navbar-inverse navbar-fixed-top col-md-9" role="navigation" style = "margin-bottom: 0;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" style="color:white"  class =" navbar-toggle"data-toggle="collapse" data-target=".navbar-ex1-collapse" (click)="toggleFunc()">
           <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>Bu

        </button>
         <div  style = "color:white">dd</div>
        <a class="navbar-brand" href="#">Online Auction</a>
      </div>-->
     
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!--<div [ngClass] = "isToggled?'isCollapsed':'isntCollapsed'">-->
        <!--<ul class="nav navbar-nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a [routerLink] =  '["/login"]'>Log in</a></li>
          <li><a [routerLink] =  '["/signin"]'>Signin</a></li>
          <li><a [routerLink] = '["/forms"]'>Add book</a></li>
        </ul>
      </div>-->
      <!-- /.navbar-collapse -->
    <!--</div>-->
    <!-- /.container -->
  <!--</nav>-->
  

 
 