<diV *ngIf = "book" class = "" style = "position:relative;margin-left: 20px;padding-top:55px">
    <div >
        <p style ="font-size: 17px; margin-top: 12px;">{{book.authors}}</p>
        <h4 style = "text-indent:15px">{{book.title}}</h4>
    </div>
    <div class = "inner">
        <div>
            <img src ='{{book.pictureurl}}' width = "220px" height='300'>
        </div>
        <div class = "description">
            <div  style = "display:inline-block">
               <rating-stars [rating] = 'book.rating' style = "font-size:15px;color:rgb(233,46,71)"></rating-stars> 
            </div>
            <div>Category: <span class = 'badge'>{{book.category}}</span></div>
            <div>Year: {{book.year}}</div>
            <div>Price: {{book.price}}</div>
            <div style ="text-indent: 20px;max-width: 500px;font-size: 1.1em;">{{book.description}}</div>
        </div>
    </div>
  
  <!--<button (click) = "getUser()" style = "color:red">Get User</button>-->
<!--<div class="text-right">-->
  <div>
 <button (click) = "leaveAReview()" class="btn btn-success btn-green" style = "margin-left:5px">Leave a review</button> <span>  {{reviews.length}} review(s)</span>
 <div [hidden] = "isReviewHidden" class = "col-xs-12 col-lg-6" style="position:absolute; top:0px;left:-10px;background-color:transparent; height:100%;width:100vw;z-index:2;opacity:1">
    <div class = 'col-xs-10 col-sm-8 col-lg-2' style = "position: absolute;top:100px; left:10%;background-color:blue;opacity:1;z-index:4">
      <div class = "modal-header">
          <button (click) ="isReviewHidden=!isReviewHidden" type = "button" class = "close">
            <span aria-hidden = "true" style = "color:red">x</span>
            <span class ="sr-only">Close</span>
          </button>
          <h4 id = "modalLabel" class = "modal-title" style = "color:white">Add your review for {{book.title}}</h4>
      </div>
     <div>
        <rating-stars [(rating)] = "newRating" (ratingChange) = ratinChange($event) [readonly] = "false" class = "large" style = "color:rgb(204, 233, 73)" ></rating-stars>
      </div>
      <form class = 'modal-body' [formGroup] = "formModel" (submit) = "addReview()">
          <!--label for = "author" class = "col-xs-2 col-sm-2 control-label">Author</label>
          <div class ="col-xs-10 col-sm-10">
              <input class = "form-control" id = "author" formControlName = "author" required autocompletion="false">
              <div  *ngIf = "this.formModel.controls['author'].invalid&&(this.formModel.controls['author'].dirty || this.formModel.controls['author'].touched)" class = "alert alert-danger">
              <span *ngIf = "this.formModel.controls['author'].errors">Enter requires</span></div>
          </div>-->
        <!--<label for = "rating" class = "control-label" style="display:block">Rating</label>-->
          <div >
             <input [hidden] ="true" class = "col-xs-4 col-sm-4 col-md-4" style = "border-radius: 5px" type= "number" id ="rating" name = "rating" formControlName ="rating" [(ngModel)] = "rating">
             <span [hidden]  = "!formModel.hasError('minLength', 'minLength')">Enter requires</span>
          </div>
        <label for = "review" class = "control-label" style="display:block">Review</label>          
          <div>
              <textarea class = "form-control col-xs-10 col-sm-6" id = "review" formControlName = "reviewtext" rows ="10" required (input) = "calculateLength()"></textarea>
          </div>
          <div *ngIf = "rest>0||rest==0" class = "alert alert-success"> Availible {{rest}} characters</div>
        <div *ngIf = "rest<0" class = "alert alert-danger"> Maximum length reached</div>
          <div class = "pull-right">
            <button type = "submit" class="btn btn-success btn-green" [disabled] = "!this.formModel.valid">Add review</button>
          </div>
      </form>
    </div>
  </div>
</div>

 <div class = 'row'*ngFor = "let review of reviews">
  <hr>
    <div class='col-md-12'>
    <rating-stars [rating] = "review.rating"></rating-stars>
    
    <span class = "pull-right">
      {{review.createdOn | date:'shortDate'}}
    </span>
    <p> {{review.reviewtext}}</p>
    <span>{{review.author}}</span>
  </div> 
  
<!--<button (click)= "getAuthor()">getAuthor</button>
{{author1}}-->
    
  