
<div class ="row">
    <div  [ngClass] = "isSearchVisible?'search vis':'search hid'">
        <div style = "display: flex;justify-content: space-between;width:100%"> 
            <div><input type = "radio" value = "authors" name = "radio" #rad1/>Authors</div>
            <div><input type = "radio" value = "title" #rad2 name = "radio"/>Title</div>
            <div><input type = "radio" value = "category" #rad3 name = "radio"/>Category</div>
        </div>
        <div style="align-content: center" >
            <input placeholder ="Search..." type ="text" class = "form-control" [formControl] = "titleFilter"/>
            <span  *ngIf = "(books | filter:(rad1.checked?rad1.value:rad2.checked?rad2.value:rad3.checked?rad3.value:null):filterCriteria) as result">{{result.length}} books found</span>
       </div>
    </div>

    <div>
        <div *ngIf = "(books | filter:(rad1.checked?rad1.value:rad2.checked?rad2.value:rad3.checked?rad3.value:null):filterCriteria) as result" class = "books">
            <span class = "results">{{result.length}} books found</span>
            <div *ngFor = "let book of result" style = "margin-left:5px;margin-top:10px;margin-right:5px">
            <auction-product-item [book] ="book"></auction-product-item>
            </div>
        </div>
        <!--<button (click) = "clearLocal()">Clear Local"</button>-->  
    </div> 
</div>
