    <div class = "row">
        <div class="log_wrapper">
            <div class = "lead">
                <span class="log_header">Pease, log in  or <a style = "color:blue" href = "/signin"> sign up</a></span>
            </div>
            <form [formGroup] = "formModel" method = "POST" (ngSubmit)="onSubmit()">
                <div *ngIf = "notAuthenticated" class = "alert_span login">Some problems occured with authentication.<br/>Check email or password; or sign up</div>
                <div class = "form-group form_group">
                    <label for = "email">Email</label>
                    <input type = "text" id = "email" formControlName ="email" required>
                </div>
                <div class = "form-group form_group">
                    <label for = "password">Password</label>
                    <input type = "text" id = "password" formControlName ="password">
                </div>
                <input type = "submit" value= "Submit" class = "btn btn-primary submit_btn" required>
            </form>
        </div>
    </div>
    <!--<button (click) ="checkLocal()">Check Local</button>-->

    


