<form [formGroup] = "formModel" (ngSubmit)="onSubmit();form_add.resetForm()" class="forms" action = '/forms' method = "POST" enctype = "multipart/form-data" #form_add="ngForm">
    <div>
        <label for = "authors"> Author(s)</label>
        <input type = "text" formControlName="authors" id ="authors" (blur) = "showLength()"/>
        <span  *ngIf = "this.formModel.value.authors&&this.formModel.value.authors.length>100" class ="alert_span" style = "display:block;position: absolute;top:22px;left:140px;font-size:14px;">Maximum length exceeded</span>
    </div>
    <div>
        <label for = "title"> Title</label>
        <input type = "text" formControlName="title" id ="title"/>
        <span  *ngIf = "this.formModel.value.title&&this.formModel.value.title.length>75" class ="alert_span" style = "display:block;position: absolute;top:22px;left:140px;font-size:14px;">Maximum length exceeded</span>
    </div>
    <div>
        <label for = "description" style="position:relative"> Description
        <span *ngIf = "(rest<500&&rest>0)||rest==0" class = "success_span pos30"> Availible {{rest}} characters</span>
        <span *ngIf = "rest<0" class = "alert_span pos30"> Maximum length reached</span>
        </label>
        <textarea formControlName="description" id ="description" (input) = "calculateLength()"></textarea>
   </div>
        
    <div>
        <label for = "year"> Year</label>
        <input type = "text" formControlName="year" id ="year"/>
    </div>
    <div>
        <label for = "category"> Category</label>
        <select formControlName="category" id ="category">
            <option *ngFor = "let c of categories" [value]="c">{{c}}</option>
        </select>
    </div>    
    <div>
        <label for = "pictureUrl"> PictureUrl</label>
        <input type = "text" formControlName="pictureUrl" id ="pictureUrl"placeholder  = "https://...">
    </div>
    <div>
        <label for = "price"> Price</label>
        <input type = "number" formControlName="price" id ="price"/>
    </div>
      
    <div *ngIf = "!formNotCompleted" style = "justify-content: center;">Complete the form</div>
    <div><input type = "submit" class = "btn btn-primary submit_btn" value ="Submit"/></div>
</form>
